numpy
opencv-python
tensorflow-gpu==2.9.3
gym
gym[box2d]
pandas
sklearn
matplotlib
pyyaml
optuna
mpi4py
joblib
ta
Pillow
scikit-learn
statsmodels==0.10.0rc2
empyrical
easydict
ccxt
psycopg2
configparser
quantstats>=0.0.17
dill
atari_py
